{% extends '@App/default/view.html.twig' %}

{% block site_title %}{{ parent() }} - {{ page.title }}{% endblock site_title %}

{% block content %}
    <div class="col-md-12">
        <h1 class="title text-center">
            {{ page.title }}
        </h1>
        <div class="content-ctn">{{ page.content|raw }}</div>
    </div>
    {% if page.pdfs|length > 0 %}<hr>{% endif %}
    <div class="pdf-ctn">
        {% for pdf in page.pdfs %}
            <a href="{{ asset(pdf.webPath) }}" class="link-pdf btn btn-danger" target="_blank">
                <i class="fa fa-3x fa-file-pdf-o"></i><br>{{ pdf.alt }}
            </a>
        {% endfor %}
    </div>
{% endblock content %}

{% block footer %}
    {{ include('@App/utils/social.html.twig', {'title': siteTitle ~ ' - ' ~ page.title}) }}
{% endblock footer %}
