{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-ctn">
        <div class="row">
            <div class="col-md-3">
                {{ render(controller('AppBundle:Default:categories')) }}
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h1 class="title-like category-title">
                        Articles de la catégorie : {{ category.title|upper }}
                    </h1>
                </div>
                {% for post in posts %}
                    {{ include('@App/default/post/preview.html.twig') }}
                {% else %}
                    <div class="alert alert-info">
                        Il n'y a pas d'article dans cette catégorie.
                    </div>
                {% endfor %}

                {{ include('@App/default/post/pagination.html.twig') }}
            </div>
            <div class="col-md-3">
                {{ render(controller('AppBundle:Default:pages')) }}
                {{ include('@App/default/archives.html.twig') }}
            </div>
        </div>
    </div>
    {{ include('@App/utils/social.html.twig', {'title': 'Site du Bowling Club Poitevin - ' ~ category.title}) }}
{% endblock body %}
