{% set imgUrl = post.images|length > 0 ? post.previewImage.webPath : 'bundles/app/img/logo_bcp.jpg' %}

<div class="row post-pre-ctn">
    <a href="{{ path('post_view', {'slug': post.slug}) }}" class="post-link">
        <div class="col-md-2 col-sm-2 col-xs-4 img-ctn">
            <img src="{{ imgUrl|imagine_filter('post_preview') }}" class="img-rounded">
        </div>
        <div class="col-md-10 col-sm-10 col-xs-8 text-ctn">
            <h5 class="title">
                {{ post.title }}
                <small class="subtitle">{{ post.authorName }}, le {{ post.created|date('d/m/Y') }}</small>
            </h5>
            <span class="text-muted">{{ post.description }}</span>
            <div class="post-categories-ctn">
                {% for category in post.categories %}
                    <span class="badge badge-category">{{ category.title }}</span>
                {% endfor %}
            </div>
        </div>
    </a>
</div>
