{% extends '@App/default/view.html.twig' %}

{% block site_title %}{{ parent() }} - {{ post.title }}{% endblock site_title %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.css" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}
    <div class="col-md-12">
        <h1 class="title text-center">
            {{ post.title }}
            <small class="subtitle">
                écrit par {{ post.authorName }}, le {{ post.created|date('d/m/Y') }}
            </small>
        </h1>
        <div class="content-ctn">{{ post.content|raw }}</div>
        {% if post.pdfs|length > 0 %}<hr>{% endif %}
        <div class="pdf-ctn">
            {% for pdf in post.pdfs %}
                <a href="{{ asset(pdf.webPath) }}" class="link-pdf btn btn-danger" target="_blank">
                    <i class="fa fa-3x fa-file-pdf-o"></i><br>{{ pdf.alt }}
                </a>
            {% endfor %}
        </div>
        {% if post.images|length > 0 %}<hr>{% endif %}
        <div class="images-ctn">
            {% for image in post.images %}
                <a href="{{ image.webPath|imagine_filter('post_view') }}"
                   data-toggle="lightbox"
                   data-gallery="post_gallery"
                   data-title="{{ post.title }}">
                    <img src="{{ image.webPath|imagine_filter('post_preview') }}" class="img-thumbnail">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {{ include('@App/utils/social.html.twig', {'title': siteTitle ~ ' - ' ~ post.title}) }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock javascripts %}
