{% extends '@App/default/view.html.twig' %}

{% block header %}
    <div class="col-md-12">
        <div class="pull-right">
            {{ include('@App/competition/buttons/feed_button.html.twig') }}
            {{ include('@App/competition/buttons/update_button.html.twig') }}
            {{ include('@App/competition/buttons/remove_button.html.twig') }}
            <a href="{{ path('competitions_view', {
                'display': display,
                'page': page,
                'id': competition.id,
                'slug': competition.slug
            }) }}" class="btn btn-default">
                <i class="fa fa-chevron-circle-left"></i><span class="hidden-xs">Retour à la compétition</span>
            </a>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="col-md-12">
        <h1 class="title text-center">
            {{ competition.title }}
            <small class="subtitle">
                écrit par {{ competition.author.username }}, le {{ competition.created|date('d/m/Y') }}
            </small>
        </h1>
        <div class="content-ctn">
            {{ include('@App/competition/infos_table.html.twig') }}
            {% for message in messages %}
                {{ include('@App/competition/message/preview.html.twig') }}
            {% else %}
                <div class="alert alert-info">
                    <div class="container">
                        Pas encore de messages.
                    </div>
                </div>
            {% endfor %}
            {{ include('@App/competition/message/pagination.html.twig') }}
            {{ include('@App/competition/message/form_view.html.twig') }}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    {{ include('@App/utils/social.html.twig', {'title': siteTitle ~ ' - ' ~ competition.title ~ ' - Messages'}) }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/assets/ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            CKEDITOR.replace('competition_message_content', {
                toolbar: 'Front'
            });
        });
    </script>
{% endblock javascripts %}
