<div style="background-color: #f7f5f3;
     margin: 0;
     padding: 0;
     font-family: 'Helvetica Neue', 'Open Sans', Arial, sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 1.71;
     color: #6f8691;
     letter-spacing: 0.2px;">

    <div style="max-width: 600px; margin: auto; padding-top: 40px;">
        <div style="background-color: #ffffff; border-radius: 3px; border: solid 1px #e2e6e8;">
            <div style="text-align: center;">
                <a href="{{ url('homepage') }}">
                    <img src="{{ 'bundles/app/img/logo_bcp.jpg'|imagine_filter('post_preview') }}">
                </a>
            </div>
            <div style="max-width: 90%; margin-left: 5%; margin-right: 5%; text-align: justify;">
                {% block email_body %}{{ body|raw }}{% endblock email_body %}
            </div>
        </div>
        <div style="margin: 10px;">
            {% block email_footer %}
                <div style="text-align: center;">
                    <div style="padding: 5px 0;">
                        <a href="https://www.facebook.com/BCPPoitiers" style="text-decoration: none; color: rgba(255, 76, 64, 0.98);">
                            <img src="{{ absolute_url(asset('bundles/app/img/fb_icon_mail_footer.png')) }}" style="vertical-align: middle;">
                            <span style="display: inline-block; vertical-align: middle;">Retrouvez nous sur facebook</span>
                        </a>
                    </div>
                    <div style="padding: 5px 0;">
                        <a href="mailto:bowlingclubpoitevin@gmail.com" style="text-decoration: none; color: rgba(255, 76, 64, 0.98);">
                            <img src="{{ absolute_url(asset('bundles/app/img/email_icon_mail_footer.png')) }}" style="vertical-align: middle;">
                            <span style="display: inline-block; vertical-align: middle;">Envoyez nous un email</span>
                        </a>
                    </div>
                    <div style="padding: 5px 0;">
                        <img src="{{ absolute_url(asset('bundles/app/img/mail_icon_mail_footer.png')) }}" style="vertical-align: middle;">
                        <span style="display: inline-block; vertical-align: middle;">Bowling Club Poitevin</span>
                        <span style="display: inline-block; vertical-align: middle;">11 Places des Sablons</span>
                        <span style="display: inline-block; vertical-align: middle;">86000 POITIERS</span>
                    </div>
                </div>
            {% endblock email_footer %}
        </div>
    </div>
</div>