{% extends '@App/competition/base_index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/assets/bootstrap-calendar/css/calendar.min.css') }}">
{% endblock stylesheets %}

{% block content %}
    {% if competitionsCount == 0 %}
        {{ include('@App/competition/empty_alert.html.twig') }}
    {% endif %}
    {{ include('@App/competition/calendar/navigation.html.twig') }}
    <div class="row cancel-margin" style="margin: 10px 0;">
        <div class="col-md-12">
            <h3 id="calendar-title" class="page-header"></h3>
            <div id="calendar-ctn"></div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/assets/bootstrap-calendar/js/underscore-min.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/bootstrap-calendar/js/calendar.min.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/bootstrap-calendar/js/fr-FR.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var calendar = $('#calendar-ctn').calendar({
                language: 'fr-FR',
                time_start: '06:00',
                time_end: '23:59',
                view: 'month',
                tmpl_path: "{{ asset('bundles/app/assets/bootstrap-calendar/tmpls/') }}",
                events_source: '{{ path('competitions_ajax_index') }}',
                onAfterViewLoad: function(view) {
                    $('#calendar-title').text(this.getTitle());
                    $('.btn-group button').removeClass('btn-fill');
                    $('button[data-calendar-view="' + view + '"]').addClass('btn-fill');
                }
            });

            $('button[data-calendar-nav]').each(function(){
                $(this).click(function(){
                    calendar.navigate($(this).data('calendar-nav'));
                });
            });

            $('button[data-calendar-view]').each(function(){
                $(this).click(function(){
                    calendar.view($(this).data('calendar-view'));
                });
            });
        });
    </script>
{% endblock javascripts %}