{% extends '@App/default/view.html.twig' %}

{% block header %}
    <div class="col-md-12">
        <div class="pull-right">
            <a href="{{ path('competitions_view', {
                'display': display,
                'id': competition.id,
                'slug': competition.slug
            }) }}" class="btn btn-default">
                <i class="fa fa-chevron-circle-left"></i><span class="hidden-xs">Retour à la compétition</span>
            </a>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <div class="col-md-12">
        <h1 class="title text-center">
            {{ competition.title }}
            <small class="subtitle">
                écrit par {{ competition.author.username }}, le {{ competition.created|date('d/m/Y') }}
            </small>
        </h1>
        <div class="content-ctn text-center">
            Vous êtes sur le point de supprimer cette compétition, cette action sera irréversible.
            Voulez-vous vraiment continuer ?

            {{ form_start(form) }}
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-remove"></i> Supprimer la compétition
                </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}