{% extends '@App/default/archives/archive.twig' %}

{% block archive_content %}
    <!--Ligues du BC Poitevin-->
    <TABLE class="table">
        <TR>
            <TD colspan="3" style="text-align: center;"><H2 class="club">R&eacute;sultats des ligues de bowling du <ACRONYM
                            title="Bowling Club Poitevin">BCP</ACRONYM><BR>saison 2005/2006</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD class="border3">Ligue</TD>
            <TD class="border3">Type</TD>
            <TD>Download&#42;</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Lundi 18h15</TD>
            <TD class="border3">Doublette Sport<BR>Entreprise A</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/ligues/doublette_lundi_a.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Lundi 20h</TD>
            <TD class="border3">Doublette Sport<BR>Entreprise B</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/ligues/doublette_lundi_b.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Mardi 19h30</TD>
            <TD class="border3">Doublette</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/ligues/doublette_mardi.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Jeudi 19h</TD>
            <TD class="border3">Triplette Sport<BR>Entreprise</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/ligues/triplette_jeudi.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
    </TABLE>
    <!--Ligues du BC Poitevin - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier des competitions du BCP a poitiers -->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats des comp&eacute;titions<BR>de bowling du
                    <ACRONYM title="Bowling Club Poitevin">BCP</ACRONYM> &agrave; Poitiers</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="182" class="border3">Comp&eacute;tition</TD>
            <TD width="182" class="border3">Date</TD>
            <TD width="87" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="87">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Crit&eacute;rium V&eacute;t&eacute;rans</TD>
            <TD class="border3">15 et 16 octobre 2005</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/bcp/criterium_veterans_05.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/bcp/criterium_veterans_05.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i> </A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Challenge 86<BR>Poitiers - Civaux</TD>
            <TD class="border3">22 et 23 octobre 2005</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/bcp/challenge_86_poitiers_civaux_05.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/bcp/challenge_86_poitiers_civaux_05.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Challenge<BR>Christian Merle</TD>
            <TD class="border3">5 novembre 2005</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/bcp/challenge_christian_merle_05.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/bcp/challenge_christian_merle_05.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3"><BR>Chpts Sport d'Entreprise<BR>Phase r&eacute;gionale "Honneur"<BR>&nbsp;</TD>
            <TD class="border3">19 et 20 novembre 2005</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/bcp/chpts_entreprise_phase_regionale_honneur_05.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/bcp/chpts_entreprise_phase_regionale_honneur_05.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Tournoi des Rois du <ACRONYM title="bowling club poitevin">BCP</ACRONYM></TD>
            <TD class="border3">7 janvier 2006</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/bcp/tournoi_des_rois_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/bcp/tournoi_des_rois_06.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Honneurs<BR>Dames et Hommes</TD>
            <TD class="border3">14 et 15 janvier 2006</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/bcp/honneurs_dames_hommes_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/bcp/honneurs_dames_hommes_06.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Challenge R&eacute;gional<BR>3<SUP>&egrave;me</SUP> Journ&eacute;e</TD>
            <TD class="border3">16 avril 2006</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/bcp/challenge_regional_j2_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/bcp/challenge_regional_j2_06.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Finale r&eacute;gionale<BR>coupe du monde Angoul&ecirc;me</TD>
            <TD class="border3">29 et 30 avril 2006</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/bcp/coupe_federation_phase_regionale_06.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/bcp/coupe_federation_phase_regionale_06.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Finale du championnat<BR>sport entreprise</TD>
            <TD class="border3">17 juin 2006</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/bcp/finale_chpt_sport_entreprise_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/bcp/finale_chpt_sport_entreprise_06.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
    </TABLE>
    <!-- Calendrier des competitions du BCP a poitiers - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier du Championnat des Clubs -->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats du Championnat<BR>des Clubs de bowling
                    2005/2006</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="20%" class="border3">Comp&eacute;tition</TD>
            <TD width="40%" class="border3">Dates</TD>
            <TD width="15%" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="10%">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3"><SPAN title="R&eacute;gionale 1"><ABBR>R1</ABBR></SPAN><BR>Hommes &eacute;quipe<BR>de
                Poitiers
            </TD>
            <TD class="border3"><BR>4 d&eacute;cembre 2005 &agrave; Poitiers<BR>26 mars 2006 &agrave; La Rochelle<BR>21
                mai 2006 &agrave; Angoul&ecirc;me<BR>&nbsp;</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/chpt_club/r1_hommes_05_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/chpt_club/r1_hommes_05_06.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="R&eacute;gionale 2"><ABBR>R2</ABBR></SPAN><BR>Hommes &eacute;quipe<BR>de
                Poitiers
            </TD>
            <TD class="border3"><BR>4 d&eacute;cembre 2005 &agrave; Civaux<BR>26 mars 2006 &agrave; Poitiers<BR>21 mai
                2006 &agrave; La Rochelle<BR>&nbsp;</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/chpt_club/r2_hommes_05_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/chpt_club/r2_hommes_05_06.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3"><SPAN title="R&eacute;gionale 1"><ABBR>R1</ABBR></SPAN><BR>Dames &eacute;quipe<BR>de
                Poitiers
            </TD>
            <TD class="border3"><BR>4 d&eacute;cembre 2005 &agrave; La Rochelle<BR>26 mars 2006 &agrave; Angoul&ecirc;me<BR>21
                mai 2006 &agrave; Poitiers<BR>&nbsp;</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/chpt_club/r1_dames_05_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/chpt_club/r1_dames_05_06.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="Nationale 2"><ABBR>N2</ABBR></SPAN><BR>Dames &eacute;quipe<BR>de Poitiers
            </TD>
            <TD class="border3"><BR>26 et 27 novembre 2005 &agrave; Annecy<BR>11 et 12 mars 2006 &agrave; Nimes<BR>6 et
                7 mai 2006 &agrave; Bordeaux<BR>&nbsp;</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/chpt_club/n2_dames_05_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/chpt_club/n2_dames_05_06.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3"><SPAN title="Nationale 3"><ABBR>N3</ABBR></SPAN><BR>Hommes &eacute;quipe<BR>de Poitiers
            </TD>
            <TD class="border3"><BR>26 et 27 novembre 2005 &agrave; Saran<BR>11 et 12 mars 2006 &agrave; St Nazaire<BR>6
                et 7 mai 2006 &agrave; Lorient<BR>&nbsp;</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_05_06/resultats/pdf/chpt_club/n3_hommes_05_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_05_06/resultats/photo/chpt_club/n3_hommes_05_06.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
    </TABLE>
    <!-- Calendrier du championnat des clubs - Fin -->
{% endblock archive_content %}