{% extends '@App/default/archives/archive.twig' %}

{% block archive_content %}
    <!--Ligues du BC Poitevin-->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">R&eacute;sultats des ligues de bowling du <ACRONYM
                            title="Bowling Club Poitevin">BCP</ACRONYM><BR>saison 2007/2008</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD class="border3">Ligue</TD>
            <TD class="border3">Type</TD>
            <TD class="border3">Update</TD>
            <TD>Download&#42;</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Lundi 18h15</TD>
            <TD class="border3">Doublette A</TD>
            <TD class="border3">16/06/08 - finale samedi 21/06</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/ligues/doublette_lundi_a.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Lundi 20h</TD>
            <TD class="border3">Doublette B</TD>
            <TD class="border3">16/06/08 - finale samedi 21/06</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/ligues/doublette_lundi_b.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Mardi 19h30</TD>
            <TD class="border3">Doublette</TD>
            <TD class="border3">17/06/2008 - classement final</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/ligues/doublette_mardi.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Jeudi 19h00</TD>
            <TD class="border3">Triplette</TD>
            <TD class="border3">26/06/2008 classement final et photo</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/ligues/triplette_jeudi.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
    </TABLE>
    <!--Ligues du BC Poitevin - Fin -->

    <BR>&nbsp;<BR>



    <!-- Calendrier des competitions du BCP a poitiers -->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats des comp&eacute;titions<BR>2007/2008 du
                    <ACRONYM title="comit&eacute; r&eacute;gional">CR</ACRONYM> Poitou-Charentes</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="182" class="border3">Comp&eacute;tition</TD>
            <TD width="182" class="border3">Date et lieu</TD>
            <TD width="87" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="87">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Challenge r&eacute;gional <ACRONYM
                        title="Comit&eacute; r&eacute;gional">CR</ACRONYM>20<BR>1<SUP>ere</SUP> journ&eacute;e
            </TD>
            <TD class="border3">13-14 octobre 07<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/challenge_regional_cr20_j1_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/challenge_regional_cr20_j1_07.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i> </A>
            </TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Challenge corpo<BR>Christian Merle</TD>
            <TD class="border3">11 novembre 07<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/challenge_corpo_merle_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/challenge_corpo_merle_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">R&eacute;gionaux promotion<BR>sport entreprise</TD>
            <TD class="border3">18 novembre 07<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/regionaux_promo_07.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/regionaux_promo_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Tournoi des rois du <ACRONYM title="Bowling Club Poitevin">BCP</ACRONYM></TD>
            <TD class="border3">5 janvier 08<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/tournoi_des_rois_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/tournoi_des_rois_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Coupe de France<BR>sport entreprise<BR>phase r&eacute;gionale</TD>
            <TD class="border3">12-13 janvier 08<BR>Poitiers</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/coupe_de_france_sport_entreprise_08.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/coupe_de_france_sport_entreprise_08.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Challenge r&eacute;gional <ACRONYM
                        title="Comit&eacute; r&eacute;gional">CR</ACRONYM>20<BR>2<SUP>eme</SUP> journ&eacute;e
            </TD>
            <TD class="border3">1-2 mars 08<BR>La Rochelle</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/challenge_regional_cr20_j2_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/challenge_regional_cr20_j2_08.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">R&eacute;gionaux individuels<BR>Honneur</TD>
            <TD class="border3">29-30 mars 08<BR>La Rochelle</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/regionaux_honneur_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/regionaux_honneur_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">R&eacute;gionaux individuels<BR>Elite - Excellence</TD>
            <TD class="border3">29-30 mars 08<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/regionaux_elite_08.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/regionaux_elite_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Challenge r&eacute;gional <ACRONYM
                        title="Comit&eacute; r&eacute;gional">CR</ACRONYM>20<BR>3<SUP>eme</SUP> journ&eacute;e
            </TD>
            <TD class="border3">26-27 avril 08<BR>Angoul&ecirc;me</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/challenge_regional_cr20_j3_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/challenge_regional_cr20_j3_08.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Finale de la ligue<BR>Sport Entreprise du <ACRONYM
                        title="Bowling Club Poitevin">BCP</ACRONYM></TD>
            <TD class="border3">21 juin 08<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/bcp/finale_ligue_bcp_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/bcp/finale_ligue_bcp_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

    </TABLE>
    <!-- Calendrier des competitions du BCP a poitiers - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier du Championnat des Clubs -->
    <TABLE class="table">
        <TR>
            <TD colspan="5" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats du <ACRONYM title="Bowling Club Poitevin">BCP</ACRONYM>
                    dans<BR>le Championnat des Clubs 2007/2008</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="15%" class="border3">Comp&eacute;tition</TD>
            <TD width="45%" class="border3">Date et lieu</TD>
            <TD width="15%" class="border3">Update</TD>
            <TD width="15%" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="10%">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3"><SPAN title="Nationale 2"><ABBR>N2</ABBR></SPAN><BR>Dames</TD>
            <TD class="border3"><BR>24 et 25 novembre 2007 &agrave; Montpellier<BR>26 et 27 janvier 2008 &agrave;
                Paris<BR>8 et 9 mars 2008 &agrave; La Rochelle<BR>&nbsp;</TD>
            <TD class="border3">09/03/2008</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/chpt_club/n2_dames_07_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/chpt_club/n2_dames_07_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="Nationale 2"><ABBR>N2</ABBR></SPAN><BR>Hommes</TD>
            <TD class="border3"><BR>24 et 25 novembre 2007 &agrave; Vandoeuvre<BR>26 et 27 janvier 2008 &agrave;
                Fontenay / Bois<BR>8 et 9 mai 2008 &agrave; Barjouville<BR>&nbsp;</TD>
            <TD class="border3">09/03/2008</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/chpt_club/n2_hommes_07_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/chpt_club/n2_hommes_07_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3"><SPAN title="Nationale 3"><ABBR>N3</ABBR></SPAN><BR>Hommes</TD>
            <TD class="border3"><BR>24 et 25 novembre 2007 &agrave; Tours<BR>26 et 27 janvier 2008 &agrave; Saint
                Sebastien<BR>8 et 9 mai 2008 &agrave; Rennes<BR>&nbsp;</TD>
            <TD class="border3">09/03/2008</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/chpt_club/n3_hommes_07_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/chpt_club/n3_hommes_07_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="R&eacute;gionale 1"><ABBR>R1</ABBR></SPAN><BR>Dames</TD>
            <TD class="border3"><BR>2 d&eacute;cembre 2006 &agrave; Civaux<BR>3 f&eacute;vrier 2008 &agrave; La Rochelle<BR>9
                mars 2008 &agrave; Civaux<BR>&nbsp;</TD>
            <TD class="border3">09/03/2008</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/chpt_club/r1_dames_07_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/chpt_club/r1_dames_07_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3"><SPAN title="R&eacute;gionale 1"><ABBR>R1</ABBR></SPAN><BR>Hommes</TD>
            <TD class="border3"><BR>2 d&eacute;cembre 2007 &agrave; La Rochelle<BR>3 f&eacute;vrier 2008 &agrave;
                Poitiers<BR>9 mars 2008 &agrave; Angoul&ecirc;me<BR>&nbsp;</TD>
            <TD class="border3">09/03/2008</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/chpt_club/r1_hommes_07_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/chpt_club/r1_hommes_07_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="R&eacute;gionale 2"><ABBR>R2</ABBR></SPAN><BR>Dames</TD>
            <TD class="border3"><BR>2 d&eacute;cembre 2007 &agrave; La Rochelle<BR>3 f&eacute;vrier 2008 &agrave; La
                Rochelle<BR>16 mars 2008 &agrave; Angoul&ecirc;me<BR>&nbsp;</TD>
            <TD class="border3">03/02/2008</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/chpt_club/r2_dames_07_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/chpt_club/r2_dames_07_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3"><SPAN title="R&eacute;gionale 2"><ABBR>R2</ABBR></SPAN><BR>Hommes</TD>
            <TD class="border3"><BR>2 d&eacute;cembre 2007 &agrave; Poitiers<BR>3 f&eacute;vrier 2008 &agrave; Angoul&ecirc;me<BR>16
                mars 2008 &agrave; La Rochelle<BR>&nbsp;</TD>
            <TD class="border3">16/03/2008</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_07_08/resultats/pdf/chpt_club/r2_hommes_07_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_07_08/resultats/photo/chpt_club/r2_hommes_07_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

    </TABLE>
    <!-- Calendrier du championnat des clubs - Fin -->
{% endblock archive_content %}