{% extends '@App/default/archives/archive.twig' %}

{% block archive_content %}
    <!-- Calendrier des tournois de Poitiers -->
    <TABLE class="table">
        <TR>
            <TD colspan="6" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats des tournois &agrave; Poitiers<BR>saison
                    2011</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="25%" class="border3">R&eacute;glement&#42;</TD>
            <TD width="25%" class="border3">Inscriptions&#42;</TD>
            <TD width="25%" class="border3" colspan="2">R&eacute;sultats&#42;</TD>
            <TD width="25%">Podium</TD>
        </TR>


        <!-- competition 1 -->
        <TR class="info" style="text-align: center;">
            <TD colspan="6" class="border4">Doublette Handicap - 16 et 17 avril 2011</TD>
        </TR>

        <TR class="cell_titre">
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/resultats/pdf/tournoi/reglement_doublette_handicap_11.pdf') }}" target="_blank"
                        type="application/pdf"><i class="fa fa-search fa-3x"></i></A></TD>
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/resultats/pdf/tournoi/inscription_doublette_handicap_11.pdf') }}" target="_blank"
                        type="application/pdf"><i class="fa fa-check-square-o fa-3x"></i></A></TD>
            <TD width="17%" class="border3bis">Eliminatoires</TD>
            <TD width="8%" class="border3"><A href="{{ asset('oldsite/resultats/pdf/tournoi/doublette_handicap_eliminatoires_11.pdf') }}"
                                              target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD width="25%" rowspan="3"><A href="{{ asset('oldsite/resultats/photo/tournoi/doublette_handicap_11.html') }}"
                                           target="_blank"><i class="fa fa-list-ol fa-3x"></i> </A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border5bis">Demi-finale</TD>
            <TD class="border5"><A href="{{ asset('oldsite/resultats/pdf/tournoi/doublette_handicap_demi_finale_11.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border3bis">Finale</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/tournoi/doublette_handicap_finale_11.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>
        <!-- competition 1 - Fin -->

        <!-- competition 2 -->
        <TR class="info" style="text-align: center;">
            <TD colspan="6" class="border4">Individuel Handicap - 26 et 27 novembre 2011</TD>
        </TR>

        <TR class="cell_titre">
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/resultats/pdf/tournoi/reglement_individuel_handicap_11.pdf') }}" target="_blank"
                        type="application/pdf"><i class="fa fa-search fa-3x"></i> </A></TD>
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/resultats/pdf/tournoi/inscription_individuel_handicap_11.pdf') }}" target="_blank"
                        type="application/pdf"><i class="fa fa-check-square-o fa-3x"></i> </A></TD>
            <TD width="17%" class="border3bis">Eliminatoires</TD>
            <TD width="8%" class="border3"><A href="{{ asset('oldsite/resultats/pdf/tournoi/individuel_handicap_eliminatoires_11.pdf') }}"
                                              target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
            <TD width="25%" rowspan="3"><A href="{{ asset('oldsite/resultats/photo/tournoi/individuel_handicap_11.html') }}"
                                           target="_blank"><i class="fa fa-list-ol fa-3x"></i> </A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border5bis">Demi-finale</TD>
            <TD class="border5"><A href="{{ asset('oldsite/resultats/pdf/tournoi/individuel_handicap_demi_finale_11.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border3bis">Finale</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/tournoi/individuel_handicap_finale_11.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>
        <!-- competition 2 - Fin -->

    </TABLE>
    <!-- Calendrier des tournois de Poitiers - Fin -->

    <BR>&nbsp;<BR>

    <!--Ligues du BC Poitevin-->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">R&eacute;sultats des ligues de bowling du <ACRONYM
                            title="Bowling Club Poitevin">BCP</ACRONYM><BR>saison 2011</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD class="border3">Ligue</TD>
            <TD class="border3">Type</TD>
            <TD class="border3">Update</TD>
            <TD>R&eacute;sultats&#42;</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Lundi 20h00</TD>
            <TD class="border3">Doublette</TD>
            <TD class="border3">
                <SCRIPT type="text/javascript">document.write(update1)</SCRIPT>
            </TD>
            <TD><A href="{{ asset('oldsite/resultats/pdf/ligues/doublette_lundi.pdf') }}" target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Mardi 19h30</TD>
            <TD class="border3">Doublette</TD>
            <TD class="border3">
                <SCRIPT type="text/javascript">document.write(update2)</SCRIPT>
            </TD>
            <TD><A href="{{ asset('oldsite/resultats/pdf/ligues/doublette_mardi.pdf') }}" target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Mercredi 19h45</TD>
            <TD class="border3">Triplette</TD>
            <TD class="border3">
                <SCRIPT type="text/javascript">document.write(update3)</SCRIPT>
            </TD>
            <TD><A href="{{ asset('oldsite/resultats/pdf/ligues/triplette_mercredi.pdf') }}" target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>
    </TABLE>
    <!--Ligues du BC Poitevin - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier des competitions du BCP a poitiers -->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats des comp&eacute;titions<BR>2011 de la
                    <ACRONYM title="Ligue r&eacute;gionale">LR</ACRONYM> Poitou-Charentes</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="182" class="border3">Comp&eacute;tition</TD>
            <TD width="182" class="border3">Date et lieu</TD>
            <TD width="87" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="87">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Championnat de la Vienne</TD>
            <TD class="border3">22 et 23 janvier 2011<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/championnat_vienne.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/championnat_vienne.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Championnats Sport d'Entreprise Excellence et Dames</TD>
            <TD class="border3">29 et 30 janvier 2011<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/championnats_sport_entreprise.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/championnats_sport_entreprise.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Challenge r&eacute;gional <acronym
                        title="Ligue R&eacute;gionale">LR</acronym>20<BR>1<SUP>ere</SUP> journ&eacute;e
            </TD>
            <TD class="border3">12 et 13 mars 2011<BR>La Rochelle</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/lr20_j1.pdf') }}" target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/lr20_j1.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">R&eacute;gionaux Individuels<BR>Hommes et Dames<BR>Elite - Excellence - Honneur</TD>
            <TD class="border3">26 et 27 mars 2011<BR>Angoul&ecirc;me et Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/regionaux_individuels_elite_excellence_honneur.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/regionaux_individuels_elite_excellence_honneur.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">R&eacute;gionaux Jeunes</TD>
            <TD class="border3">29 et 29 mai<BR>Angoul&ecirc;me</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/regionaux_jeunes.pdf') }}" target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/regionaux_jeunes.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Challenge r&eacute;gional <acronym
                        title="Ligue R&eacute;gionale">LR</acronym>20<BR>2<SUP>eme</SUP> journ&eacute;e
            </TD>
            <TD class="border3">11 et 12 juin 2011<BR>Angoul&ecirc;me</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/lr20_j2.pdf') }}" target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/lr20_j2.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Coupe de France Sport d'Entreprise</TD>
            <TD class="border3">25 et 26 juin 2011<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/coupe_france_entreprise.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/coupe_france_entreprise.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Coupe de France F&eacute;d&eacute;rale</TD>
            <TD class="border3">18 septembre 2011<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/coupe_france_federale.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/coupe_france_federale.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Challenge r&eacute;gional <acronym
                        title="Ligue R&eacute;gionale">LR</acronym>20<BR>3<SUP>eme</SUP> journ&eacute;e
            </TD>
            <TD class="border3">24 et 25 septembre 2011<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/lr20_j3.pdf') }}" target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/lr20_j3.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">R&eacute;gionaux V&eacute;t&eacute;rans</TD>
            <TD class="border3">1<SUP>er</SUP> et 2 octobre<BR>La Rochelle</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/regionaux_veterans.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/regionaux_veterans.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Championnats Sport d'Entreprise Promotion</TD>
            <TD class="border3">8 et 9 octobre<BR>La Rochelle</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/championnat_sport_entreprise_promotion.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/championnat_sport_entreprise_promotion.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Championnat du Club</TD>
            <TD class="border3">Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/bcp/championnnat_club.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/bcp/championnat_club.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

    </TABLE>
    <!-- Calendrier des competitions du BCP a poitiers - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier du Championnat des Clubs -->
    <TABLE class="table">
        <TR>
            <TD colspan="5" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats du <ACRONYM title="Bowling Club Poitevin">BCP</ACRONYM>
                    dans<BR>le Championnat des Clubs 2011</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="15%" class="border3">Comp&eacute;tition</TD>
            <TD width="45%" class="border3">Date et lieu</TD>
            <TD width="15%" class="border3">Update</TD>
            <TD width="15%" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="10%">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3"><ACRONYM title="Nationale 2">N2</ACRONYM> A<BR>Hommes</TD>
            <TD class="border3"><BR>12 et 13 f&eacute;vrier 2011 &agrave; Clermont Ferrand<BR>2 et 3 avril 2011 &agrave;
                Montpellier<BR>21 et 22 mai 2011 &agrave; Thiais<BR>&nbsp;</TD>
            <TD class="border3">
                <SCRIPT type="text/javascript">document.write(update_n2_a_hommes)</SCRIPT>
            </TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/chpt_club/n2_a_hommes.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/chpt_club/n2_a_hommes.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><ACRONYM title="Nationale 3">N3</ACRONYM> B<BR>Dames</TD>
            <TD class="border3"><BR>12 f&eacute;vrier 2011 &agrave; Sarlat<BR>2 avril 2011 &agrave; La Rochelle<BR>21
                mai 2011 &agrave; Toulouse Montaudran<BR>&nbsp;</TD>
            <TD class="border3">
                <SCRIPT type="text/javascript">document.write(update_n3_b_dames)</SCRIPT>
            </TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/chpt_club/n3_b_dames.pdf') }}" target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/chpt_club/n3_b_dames.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3"><ACRONYM title="R&eacute;gional 1">R1</ACRONYM><BR>Hommes</TD>
            <TD class="border3"><BR>20 mars 2011 &agrave; Angoul&ecirc;me<BR>15 mai 2011 &agrave; La Rochelle<BR>19 juin
                2011 &agrave; Poitiers<BR>&nbsp;</TD>
            <TD class="border3">
                <SCRIPT type="text/javascript">document.write(update_r1_hommes)</SCRIPT>
            </TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/chpt_club/r1_hommes.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/chpt_club/r1_hommes.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><ACRONYM title="R&eacute;gional 1">R1</ACRONYM><BR>Dames</TD>
            <TD class="border3"><BR>20 mars 2011 &agrave; La Rochelle<BR>15 mai 2011 &agrave; Poitiers<BR>19 juin
                2011 &agrave; Angoul&ecirc;me<BR>&nbsp;</TD>
            <TD class="border3">
                <SCRIPT type="text/javascript">document.write(update_r1_dames)</SCRIPT>
            </TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/chpt_club/r1_dames.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/chpt_club/r1_dames.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3"><ACRONYM title="R&eacute;gional 3">R3</ACRONYM> A<BR>Hommes</TD>
            <TD class="border3"><BR>20 mars 2011 &agrave; Poitiers<BR>15 mai 2011 &agrave; La Rochelle<BR>19 juin
                2011 &agrave; Dolus<BR>&nbsp;</TD>
            <TD class="border3">
                <SCRIPT type="text/javascript">document.write(update_r3_a_hommes)</SCRIPT>
            </TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/chpt_club/r3_a_hommes.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/chpt_club/r3_a_hommes.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><ACRONYM title="R&eacute;gional 3">R3</ACRONYM> B<BR>Hommes</TD>
            <TD class="border3"><BR>20 mars 2011 &agrave; La Rochelle<BR>15 mai 2011 &agrave; Dolus<BR>19 juin
                2011 &agrave; Angoul&ecirc;me<BR>&nbsp;</TD>
            <TD class="border3">
                <SCRIPT type="text/javascript">document.write(update_r3_b_hommes)</SCRIPT>
            </TD>
            <TD class="border3"><A href="{{ asset('oldsite/resultats/pdf/chpt_club/r3_b_hommes.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/resultats/photo/chpt_club/r3_b_hommes.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

    </TABLE>
    <!-- Calendrier du championnat des clubs - Fin -->
{% endblock archive_content %}
