{% extends '@App/default/archives/archive.twig' %}

{% block archive_content %}
    <!--Ligues du BC Poitevin-->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">R&eacute;sultats des ligues de bowling du <ACRONYM
                            title="Bowling Club Poitevin">BCP</ACRONYM><BR>saison 2006/2007</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD class="border3">Ligue</TD>
            <TD class="border3">Type</TD>
            <TD class="border3">Update</TD>
            <TD>Download&#42;</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Lundi 18h15</TD>
            <TD class="border3">Doublette A</TD>
            <TD class="border3">LUNDI 18 JUIN 07<BR>qualifiés finale</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/ligues/doublette_lundi_a.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Lundi 20h00</TD>
            <TD class="border3">Doublette B</TD>
            <TD class="border3">LUNDI 18 juin 2007<BR>qualifiés finale</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/ligues/doublette_lundi_b.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Mardi 19h30</TD>
            <TD class="border3">Doublette</TD>
            <TD class="border3">MARDI 19 juin 07<BR>r&eacute;sultat final</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/ligues/doublette_mardi.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Jeudi 19h00</TD>
            <TD class="border3">Triplette</TD>
            <TD class="border3">JEUDI 28 juin 07<BR>r&eacute;sultat final</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/ligues/triplette_jeudi.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
    </TABLE>
    <!--Ligues du BC Poitevin - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier des competitions du BCP a poitiers -->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats des comp&eacute;titions<BR>2006/2007 du
                    <ACRONYM title="comit&eacute; r&eacute;gional">CR</ACRONYM> Poitou-Charentes</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="182" class="border3">Comp&eacute;tition</TD>
            <TD width="182" class="border3">Date</TD>
            <TD width="87" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="87">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">R&eacute;gionaux V&eacute;t&eacute;rans</TD>
            <TD class="border3">11 novembre 2006<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/bcp/regionaux_veterans_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/bcp/regionaux_veterans_06.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i> </A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">R&eacute;gionaux Sport Entreprise<BR>Excellence</TD>
            <TD class="border3">17 d&eacute;cembre 2006<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/bcp/regionaux_sport_entreprise_06.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/bcp/regionaux_sport_entreprise_06.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">R&eacute;gionaux Individuels<BR>Honneur</TD>
            <TD class="border3">13 et 14 janvier 2007<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/bcp/regionaux_individuels_honneur_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/bcp/regionaux_individuels_honneur_07.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3"><BR>R&eacute;gionaux Individuels<BR>Elite - Excellence<BR>&nbsp;</TD>
            <TD class="border3">13 et 14 janvier 2007<BR>La Rochelle</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/bcp/regionaux_individuels_elite_excellence_07.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/bcp/regionaux_individuels_elite_excellence_07.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Challenge R&eacute;gional <ACRONYM
                        title="comit&eacute; r&eacute;gional">CR</ACRONYM>20<BR>2<SUP>&egrave;me</SUP> journ&eacute;e
            </TD>
            <TD class="border3">10 et 11 f&eacute;vrier 2007<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/bcp/challenge_cr20_j2_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/bcp/challenge_cr20_j2_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Challenge R&eacute;gional <ACRONYM
                        title="comit&eacute; r&eacute;gional">CR</ACRONYM>20<BR>derni&egrave;re journ&eacute;e
            </TD>
            <TD class="border3">21 et 22 avril 2007<BR>Angoul&ecirc;me</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/bcp/challenge_cr20_dj_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/bcp/challenge_cr20_dj_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Finale R&eacute;gionale<BR>de la Coupe du Monde</TD>
            <TD class="border3">9 et 10 juin 2007</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/bcp/finale_regionale_coupe_du_monde_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/bcp/finale_regionale_coupe_du_monde_07.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Finale<BR>de la Ligue du Lundi</TD>
            <TD class="border3">23 juin 2007<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/bcp/finale_ligue_lundi_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/bcp/finale_ligue_lundi_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Finale R&eacute;gionale<BR>Double Mixte</TD>
            <TD class="border3">1<SUP>er</SUP> juillet 2007<BR>La Rochelle</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/bcp/finale_regionale_double_mixte_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/bcp/finale_regionale_double_mixte_07.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
    </TABLE>
    <!-- Calendrier des competitions du BCP a poitiers - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier du Championnat des Clubs -->
    <TABLE class="table">
        <TR>
            <TD colspan="5" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats du <ACRONYM title="Bowling Club Poitevin">BCP</ACRONYM>
                    dans<BR>le Championnat des Clubs 2006/2007</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="20%" class="border3">Comp&eacute;tition</TD>
            <TD width="40%" class="border3">Dates</TD>
            <TD width="15%" class="border3">Update</TD>
            <TD width="15%" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="10%">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3"><SPAN title="Nationale 1"><ABBR>N1</ABBR></SPAN><BR>Dames &eacute;quipe<BR>de Poitiers
            </TD>
            <TD class="border3"><BR>25 et 26 novembre 2006 &agrave; Paris<BR>17 et 18 mars 2007 &agrave; Bordeaux<BR>12
                et 13 mai 2007 &agrave; Nice<BR>&nbsp;</TD>
            <TD class="border3">13/05/2007</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/chpt_club/n1_dames_06_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/chpt_club/n1_dames_06_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="Nationale 2"><ABBR>N2</ABBR></SPAN><BR>Hommes &eacute;quipe<BR>de Poitiers
            </TD>
            <TD class="border3"><BR>25 et 26 novembre 2006 &agrave; Orl&eacute;ans<BR>17 et 18 mars 2007 &agrave;
                Reims<BR>12 et 13 mai 2007 &agrave; Dijon<BR>&nbsp;</TD>
            <TD class="border3">18/03/2007</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/chpt_club/n2_hommes_06_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/chpt_club/n2_hommes_06_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3"><SPAN title="R&eacute;gionale 1"><ABBR>R1</ABBR></SPAN><BR>Hommes &eacute;quipe<BR>de
                Poitiers
            </TD>
            <TD class="border3"><BR>2 et 3 d&eacute;cembre 2006 &agrave; Angoul&ecirc;me<BR>24 et 25 mars 2007 &agrave;
                Poitiers<BR>26 et 27 mai 2007 &agrave; La Rochelle<BR>&nbsp;</TD>
            <TD class="border3">27/05/07</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/chpt_club/r1_hommes_06_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/chpt_club/r1_hommes_06_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="R&eacute;gionale 1"><ABBR>R1</ABBR></SPAN><BR>Dames &eacute;quipe<BR>de
                Poitiers
            </TD>
            <TD class="border3"><BR>2 et 3 d&eacute;cembre 2006 &agrave; Poitiers<BR>24 et 25 mars 2007 &agrave; La
                Rochelle<BR>26 et 27 mai 2007 &agrave; Angoul&ecirc;me<BR>&nbsp;</TD>
            <TD class="border3">27/05/07</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/chpt_club/r1_dames_06_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/chpt_club/r1_dames_06_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3"><SPAN title="R&eacute;gionale 2"><ABBR>R2</ABBR></SPAN><BR>Hommes &eacute;quipe<BR>de
                Poitiers
            </TD>
            <TD class="border3"><BR>2 et 3 d&eacute;cembre 2006 &agrave; La Rochelle<BR>
                24 et 25 mars 2007 &agrave; Angoul&ecirc;me<BR>26 et 27 mai 2007 &agrave; Poitiers<BR>&nbsp;</TD>
            <TD class="border3">27/05/07</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/chpt_club/r2_hommes_06_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/chpt_club/r2_hommes_06_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="R&eacute;gionale 2"><ABBR>R2</ABBR></SPAN><BR>Dames &eacute;quipe<BR>de
                Poitiers
            </TD>
            <TD class="border3"><BR>2 et 3 d&eacute;cembre 2006 &agrave; Angoul&ecirc;me<BR>
                24 et 25 mars 2007 &agrave; La Rochelle<BR>26 et 27 mai 2007 &agrave; Civaux<BR>&nbsp;</TD>
            <TD class="border3">27/05/07</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_06_07/resultats/pdf/chpt_club/r2_dames_06_07.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_06_07/resultats/photo/chpt_club/r2_dames_06_07.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>
    </TABLE>
    <!-- Calendrier du championnat des clubs - Fin -->
{% endblock archive_content %}