{% extends '@App/default/archives/archive.twig' %}

{% block archive_content %}
    <!-- Calendrier des tournois de Poitiers -->
    <TABLE class="table">
        <TR>
            <TD colspan="6" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats des tournois &agrave;
                    Poitiers<BR>saison 2009/2010</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="25%" class="border3">R&eacute;glement&#42;</TD>
            <TD width="25%" class="border3">Inscriptions&#42;</TD>
            <TD width="25%" class="border3" colspan="2">R&eacute;sultats&#42;</TD>
            <TD width="25%">Podium</TD>
        </TR>


        <!-- competition 1 -->
        <TR class="info" style="text-align: center;">
            <TD colspan="6" class="border4">Individuel Handicap - 28 et 29 novembre 2009</TD>
        </TR>

        <TR class="cell_titre">
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/reglement_individuel_handicap_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-search fa-3x"></i></A></TD>
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/inscription_individuel_handicap_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-check-square-o fa-3x"></i></A></TD>
            <TD width="17%" class="border3bis">Eliminatoires</TD>
            <TD width="8%" class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/individuel_handicap_eliminatoires_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD width="25%" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/tournoi/individuel_handicap_09.html') }}"
                        target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border5bis">Demi-finale</TD>
            <TD class="border5"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/individuel_handicap_demi_finale_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border3bis">Finale</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/individuel_handicap_finale_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <!-- competition 1 - Fin -->

        <!-- competition 2 -->
        <TR class="info" style="text-align: center;">
            <TD colspan="6" class="border4">Doublette Handicap - 17 et 18 avril 2010</TD>
        </TR>

        <TR class="cell_titre">
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/reglement_doublette_handicap_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-search fa-3x"></i></A></TD>
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/inscription_doublette_handicap_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-check-square-o fa-3x"></i></A></TD>
            <TD width="17%" class="border3bis">Eliminatoires</TD>
            <TD width="8%" class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/doublette_handicap_eliminatoires_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD width="25%" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/tournoi/doublette_handicap_10.html') }}"
                        target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border5bis">Demi-finale</TD>
            <TD class="border5"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/doublette_handicap_demi_finale_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border3bis">Finale</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/doublette_handicap_finale_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <!-- competition 2 - Fin -->


        <!-- competition 3 -->
        <TR class="info" style="text-align: center;">
            <TD colspan="6" class="border4">Individuel Handicap - 27 et 28 novembre 2010</TD>
        </TR>

        <TR class="cell_titre">
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/reglement_individuel_handicap_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-search fa-3x"></i> </A></TD>
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/inscription_individuel_handicap_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-check-square-o fa-3x"></i> </A></TD>
            <TD width="17%" class="border3bis">Eliminatoires</TD>
            <TD width="8%" class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/individuel_handicap_eliminatoires_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
            <TD width="25%" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/tournoi/individuel_handicap_10.html') }}"
                        target="_blank"><i class="fa fa-list-ol fa-3x"></i> </A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border5bis">Demi-finale</TD>
            <TD class="border5"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/individuel_handicap_demi_finale_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border3bis">Finale</TD>
            <TD class="border3"><A
                        href="./{{ asset('oldsite/archives/saison_09_10/resultats/pdf/tournoi/individuel_handicap_finale_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>
        <!-- competition 3 - Fin -->

    </TABLE>
    <!-- Calendrier des tournois de Poitiers - Fin -->

    <BR>&nbsp;<BR>

    <!--Ligues du BC Poitevin-->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">R&eacute;sultats des ligues de bowling du <ACRONYM
                            title="Bowling Club Poitevin">BCP</ACRONYM><BR>saison 2009/2010</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD class="border3">Ligue</TD>
            <TD class="border3">Type</TD>
            <TD class="border3">Update</TD>
            <TD>R&eacute;sultats&#42;</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Lundi 20h00</TD>
            <TD class="border3">Doublette</TD>
            <TD class="border3">6/12/2010 classement final</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/ligues/doublette_lundi.pdf') }}"
                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Mardi 19h30</TD>
            <TD class="border3">Doublette</TD>
            <TD class="border3">7/12/2010 classement final</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/ligues/doublette_mardi.pdf') }}"
                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Jeudi 19h00</TD>
            <TD class="border3">Triplette</TD>
            <TD class="border3">09/12/2010 classement final</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/ligues/triplette_jeudi.pdf') }}"
                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
    </TABLE>
    <!--Ligues du BC Poitevin - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier des competitions du BCP a poitiers -->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats des
                    comp&eacute;titions<BR>2009/2010 de la <ACRONYM
                            title="Ligue r&eacute;gionale">LR</ACRONYM> Poitou-Charentes</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="182" class="border3">Comp&eacute;tition</TD>
            <TD width="182" class="border3">Date et lieu</TD>
            <TD width="87" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="87">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Challenge r&eacute;gional <ACRONYM
                        title="Ligue r&eacute;gionale">LR</ACRONYM>20<BR>1<SUP>ere</SUP> journ&eacute;e
            </TD>
            <TD class="border3">03 et 04 octobre 2009<BR>La Rochelle</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/challenge_regional_lr20_j1_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
            <TD>
                <A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/challenge_regional_lr20_j1_09.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Challenge corpo<BR>Christian Merle</TD>
            <TD class="border3">05 d&eacute;cembre 2009<BR>Poitiers</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/challenge_corpo_merle_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/challenge_corpo_merle_09.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Championnat de la Vienne</TD>
            <TD class="border3">16 et 17 janvier 2010<BR>Civaux</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/championnat_vienne_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/championnat_vienne_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">R&eacute;gionaux Excellence<BR>sport entreprise</TD>
            <TD class="border3">24 janvier 2010 La Rochelle<BR>31 janvier 2010 Poitiers</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/regionaux_excel_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/regionaux_excel_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Challenge r&eacute;gional <ACRONYM
                        title="Ligue r&eacute;gionale">LR</ACRONYM>20<BR>2<SUP>eme</SUP> journ&eacute;e
            </TD>
            <TD class="border3">27 et 28 f&eacute;vrier 2010<BR>Poitiers</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/challenge_regional_lr20_j2_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD>
                <A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/challenge_regional_lr20_j2_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>


        <TR class="cell_impaire">
            <TD class="border3">R&eacute;gionaux v&eacute;t&eacute;rans</TD>
            <TD class="border3">07 mars 2010<BR>Angoul&ecirc;me</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/regionaux_veterans_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/regionaux_veterans_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">R&eacute;gionaux individuels<BR>Elite - Excellence - Honneur</TD>
            <TD class="border3">22 et 23 mai 2010<BR>Poitiers / La Rochelle</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/regionaux_elite_excellence_honneur_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD>
                <A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/regionaux_elite_excellence_honneur_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Challenge r&eacute;gional <ACRONYM
                        title="Ligue r&eacute;gionale">LR</ACRONYM>20<BR>3<SUP>eme</SUP> journ&eacute;e
                finale
            </TD>
            <TD class="border3">18 et 19 septembre 2010<BR>Angoul&ecirc;me</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/challenge_regional_lr20_j3_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD>
                <A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/challenge_regional_lr20_j3_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Championnats r&eacute;gionaux<BR>sport entreprise promotion</TD>
            <TD class="border3">03 octobre 2010<BR>Poitiers</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/championnats_regionaux_se_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD>
                <A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/championnats_regionaux_se_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Championnat du Club</TD>
            <TD class="border3">11 d&eacute;cembre 2010<BR>Poitiers</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/bcp/championnat_du_club_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/bcp/championnat_du_club_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

    </TABLE>
    <!-- Calendrier des competitions du BCP a poitiers - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier du Championnat des Clubs -->
    <TABLE class="table">
        <TR>
            <TD colspan="5" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats du <ACRONYM
                            title="Bowling Club Poitevin">BCP</ACRONYM> dans<BR>le Championnat des Clubs
                    2010</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="15%" class="border3">Comp&eacute;tition</TD>
            <TD width="45%" class="border3">Date et lieu</TD>
            <TD width="15%" class="border3">Update</TD>
            <TD width="15%" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="10%">Podium</TD>
        </TR>
        <tr class="info"><td></td><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3"><SPAN title="Nationale 3"><ABBR>N3</ABBR></SPAN> B<BR>Dames</TD>
            <TD class="border3"><BR>29 mars 2010 &agrave; Sarlat<BR>08 mai 2010 &agrave; La Rochelle<BR>05
                Juin 2010 &agrave; Limoges<BR>&nbsp;</TD>
            <TD class="border3"> -</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/chpt_club/n3_b_dames_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/chpt_club/n3_b_dames_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i> </A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="Nationale 3"><ABBR>N3</ABBR></SPAN> D<BR>Hommes</TD>
            <TD class="border3"><BR>29 et 30 mars 2010 &agrave; Buxerolles<BR>08 et 09 mai
                2010 &agrave; Rambouillet<BR>05 et 06 juin 2010 &agrave; Moulins<BR>&nbsp;</TD>
            <TD class="border3"> -</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/chpt_club/n3_d_hommes_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/chpt_club/n3_d_hommes_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3"><SPAN title="R&eacute;gionale 1"><ABBR>R1</ABBR></SPAN><BR>Dames
            </TD>
            <TD class="border3"><BR>21 mars 2010 &agrave; Angoul&ecirc;me<BR>09 mai 2010 &agrave;
                Poitiers<BR>13 juin 2010 &agrave; La Rochelle<BR>&nbsp;</TD>
            <TD class="border3"> -</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/chpt_club/r1_dames_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/chpt_club/r1_dames_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="R&eacute;gionale 1"><ABBR>R1</ABBR></SPAN><BR>Hommes
            </TD>
            <TD class="border3"><BR>21 mars 2010 &agrave; Poitiers<BR>09 mai 2010 &agrave; La
                Rochelle<BR>13 juin 2010 &agrave; Angoul&ecirc;me<BR>&nbsp;</TD>
            <TD class="border3"> -</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/chpt_club/r1_hommes_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/chpt_club/r1_hommes_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3"><SPAN title="R&eacute;gionale 2"><ABBR>R2</ABBR></SPAN><BR>Hommes
            </TD>
            <TD class="border3"><BR>21 mars 2010 &agrave; Civaux<BR>09 mai 2010 &agrave; Angoul&ecirc;me<BR>13
                juin 2010 &agrave; Poitiers<BR>&nbsp;</TD>
            <TD class="border3"> -</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/chpt_club/r2_hommes_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/chpt_club/r2_hommes_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="R&eacute;gionale 3"><ABBR>R3</ABBR></SPAN> A<BR>Hommes
            </TD>
            <TD class="border3"><BR>21 mars 2010 &agrave; Dolus<BR>13 juin 2010 &agrave; La Rochelle<BR>19
                septembre 2010 &agrave; Poitiers<BR>&nbsp;</TD>
            <TD class="border3"> -</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_09_10/resultats/pdf/chpt_club/r3_a_hommes_10.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_09_10/resultats/photo/chpt_club/r3_a_hommes_10.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

    </TABLE>
    <!-- Calendrier du championnat des clubs - Fin -->
{% endblock archive_content %}