{% extends '@App/default/archives/archive.twig' %}

{% block archive_content %}
    <!-- Calendrier des tournois de Poitiers -->
    <TABLE class="table">
        <TR>
            <TD colspan="6" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats des tournois &agrave; Poitiers<BR>saison
                    2008/2009</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="25%" class="border3">R&eacute;glement&#42;</TD>
            <TD width="25%" class="border3">Inscriptions&#42;</TD>
            <TD width="25%" class="border3" colspan="2">R&eacute;sultats&#42;</TD>
            <TD width="25%">Podium</TD>
        </TR>

        <TR class="info">
            <TD colspan="6" style="text-align: center;">Double Handicap de Poitiers - 18 et 19 avril 2009</TD>
        </TR>

        <TR class="cell_titre">
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/tournoi/reglement_double_handicap_08_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-search fa-3x"></i> </A></TD>
            <TD width="25%" class="border3" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/tournoi/inscription_double_handicap_08_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-check-square-o fa-3x"></i> </A></TD>
            <TD width="17%" class="border3bis">Eliminatoires</TD>
            <TD width="8%" class="border3"><A
                        href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/tournoi/double_handicap_eliminatoires_08_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
            <TD width="25%" rowspan="3"><A
                        href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/tournoi/double_handicap_poitiers_08_09.html') }}"
                        target="_blank"><i class="fa fa-list-ol fa-3x"></i> </A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border5bis">Demi-finale</TD>
            <TD class="border5"><A
                        href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/tournoi/double_handicap_demi_finale_08_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>

        <TR class="cell_titre">
            <TD class="border3bis">Finale</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/tournoi/double_handicap_finale_08_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i> </A></TD>
        </TR>

    </TABLE>
    <!-- Calendrier des tournois de Poitiers - Fin -->

    <BR>&nbsp;<BR>

    <!--Ligues du BC Poitevin-->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">R&eacute;sultats des ligues de bowling du <ACRONYM
                            title="Bowling Club Poitevin">BCP</ACRONYM><BR>saison 2008/2009</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD class="border3">Ligue</TD>
            <TD class="border3">Type</TD>
            <TD class="border3">Update</TD>
            <TD>R&eacute;sultats&#42;</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Lundi 18h30</TD>
            <TD class="border3">Doublette</TD>
            <TD class="border3">22/06/2009<BR>classement final et photo</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/ligues/doublette_lundi.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_impaire">
            <TD class="border3">Mardi 19h30</TD>
            <TD class="border3">Doublette</TD>
            <TD class="border3">23/06/2009<BR>2 derniers matchs le 30/06</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/ligues/doublette_mardi.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
        <TR class="cell_paire">
            <TD class="border3">Jeudi 19h00</TD>
            <TD class="border3">triplette</TD>
            <TD class="border3">25/06/2009<BR>classement final et photos</TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/ligues/triplette_jeudi.pdf') }}" target="_blank"
                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
        </TR>
    </TABLE>
    <!--Ligues du BC Poitevin - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier des competitions du BCP a poitiers -->
    <TABLE class="table">
        <TR>
            <TD colspan="4" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats des comp&eacute;titions<BR>2008/2009 de la
                    <ACRONYM title="Ligue r&eacute;gionale">LR</ACRONYM> Poitou-Charentes</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="182" class="border3">Comp&eacute;tition</TD>
            <TD width="182" class="border3">Date et lieu</TD>
            <TD width="87" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="87">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3">Challenge r&eacute;gional <ACRONYM
                        title="Ligue r&eacute;gionale">LR</ACRONYM>20<BR>1<SUP>ere</SUP> journ&eacute;e
            </TD>
            <TD class="border3">11-12 octobre 08<BR>Angoul&ecirc;me</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/challenge_regional_lr20_j1_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/challenge_regional_lr20_j1_08.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Challenge corpo<BR>Christian Merle</TD>
            <TD class="border3">08 novembre 08<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/challenge_corpo_merle_08.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/challenge_corpo_merle_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">R&eacute;gionaux Excellence<BR>sport entreprise</TD>
            <TD class="border3">07 d&eacute;cembre 08<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/regionaux_excel_08.pdf') }}" target="_blank"
                                   type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/regionaux_excel_08.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Tournoi des rois du <ACRONYM title="Bowling Club Poitevin">BCP</ACRONYM></TD>
            <TD class="border3">3 janvier 09<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/tournoi_des_rois_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/tournoi_des_rois_09.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Challenge r&eacute;gional <ACRONYM
                        title="Ligue r&eacute;gionale">LR</ACRONYM>20<BR>2<SUP>eme</SUP> journ&eacute;e
            </TD>
            <TD class="border3">14-15 fevrier 09<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/challenge_regional_lr20_j2_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/challenge_regional_lr20_j2_09.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Coupe de la f&eacute;d&eacute;ration<BR>phase r&eacute;gionale</TD>
            <TD class="border3">02-03 mai 09<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/coupe_de_la_federation_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/coupe_de_la_federation_09.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Championnat <ACRONYM title="Comit&eacute; D&eacute;partementale">CD</ACRONYM> 86</TD>
            <TD class="border3">07-08 mars 09<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/championnat_cd86_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/championnat_cd86_09.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">R&eacute;gionaux individuels<BR>Elite - Excellence - Honneur</TD>
            <TD class="border3">09-10 mai 09<BR>La Rochelle / Angoul&ecirc;me</TD>
            <TD class="border3"><A
                        href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/regionaux_elite_excellence_honneur_09.pdf') }}"
                        target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/regionaux_elite_excellence_honneur_09.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3">Challenge r&eacute;gional <ACRONYM
                        title="Ligue r&eacute;gionale">LR</ACRONYM>20<BR>3<SUP>eme</SUP> journ&eacute;e
            </TD>
            <TD class="border3">16-17 mai 09<BR>La Rochelle</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/challenge_regional_lr20_j3_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/challenge_regional_lr20_j3_09.html') }}"
                   target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3">Championnat du Club</TD>
            <TD class="border3">27 juin 09<BR>Poitiers</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/bcp/championnat_club_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/bcp/championnat_club_09.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

    </TABLE>
    <!-- Calendrier des competitions du BCP a poitiers - Fin -->

    <BR>&nbsp;<BR>

    <!-- Calendrier du Championnat des Clubs -->
    <TABLE class="table">
        <TR>
            <TD colspan="5" style="text-align: center;"><H2 class="club">Calendrier et r&eacute;sultats du <ACRONYM title="Bowling Club Poitevin">BCP</ACRONYM>
                    dans<BR>le Championnat des Clubs 2008/2009</H2></TD>
        </TR>
        <TR class="cell_titre">
            <TD width="15%" class="border3">Comp&eacute;tition</TD>
            <TD width="45%" class="border3">Date et lieu</TD>
            <TD width="15%" class="border3">Update</TD>
            <TD width="15%" class="border3">R&eacute;sultats&#42;</TD>
            <TD width="10%">Podium</TD>
        </TR>
        <tr class="info" style="height: 10px;"><td></td><td></td><td></td><td></td><td></td></tr>
        <TR class="cell_paire">
            <TD class="border3"><SPAN title="Nationale 2"><ABBR>N2A</ABBR></SPAN><BR>Hommes</TD>
            <TD class="border3"><BR>29 et 30 novembre 2008 &agrave; Limoges<BR>24 et 25 janvier 2009 &agrave;
                Moulins<BR>21 et 22 mars 2009 &agrave; Fontenay sous Bois<BR>&nbsp;</TD>
            <TD class="border3">-</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/chpt_club/n2_hommes_08_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/chpt_club/n2_hommes_08_09.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="Nationale 3"><ABBR>N3D</ABBR></SPAN><BR>Dames</TD>
            <TD class="border3"><BR>29 novembre 2008 &agrave; Barjouville<BR>24 janvier 2009 &agrave; Epinay sur
                Seine<BR>21 mars 2009 &agrave; Poitiers<BR>&nbsp;</TD>
            <TD class="border3">-</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/chpt_club/n3_dames_08_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/chpt_club/n3_dames_08_09.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A>
            </TD>
        </TR>

        <TR class="cell_paire">
            <TD class="border3"><SPAN title="R&eacute;gionale 1"><ABBR>R1</ABBR></SPAN><BR>Hommes</TD>
            <TD class="border3"><BR>23 novembre 2008 &agrave; Angoul&ecirc;me<BR>1<SUP>er</SUP> f&eacute;vrier
                2009 &agrave; Poitiers<BR>29 mars 2009 &agrave; La Rochelle<BR>&nbsp;</TD>
            <TD class="border3">-</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/chpt_club/r1_hommes_08_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/chpt_club/r1_hommes_08_09.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

        <TR class="cell_impaire">
            <TD class="border3"><SPAN title="R&eacute;gionale 2"><ABBR>R2</ABBR></SPAN><BR>Hommes</TD>
            <TD class="border3"><BR>23 novembre 2008 &agrave; Poitiers<BR>1<SUP>er</SUP> f&eacute;vrier 2009 &agrave;
                Civaux<BR>29 mars 2009 &agrave; Angoul&ecirc;me<BR>&nbsp;</TD>
            <TD class="border3">-</TD>
            <TD class="border3"><A href="{{ asset('oldsite/archives/saison_08_09/resultats/pdf/chpt_club/r2_hommes_08_09.pdf') }}"
                                   target="_blank" type="application/pdf"><i class="fa fa-save fa-2x"></i></A></TD>
            <TD><A href="{{ asset('oldsite/archives/saison_08_09/resultats/photo/chpt_club/r2_hommes_08_09.html') }}" target="_blank"><i class="fa fa-list-ol fa-3x"></i></A></TD>
        </TR>

    </TABLE>
    <!-- Calendrier du championnat des clubs - Fin -->
{% endblock archive_content %}