{% extends '@App/utils/email_structure.html.twig' %}

{% set color = '#555' %}

{% block email_body %}
    <div style="width: 50%; margin: auto;">
        <p style="color: {{ color }};">Bonjour{% if contact.username != '' %} {{ contact.username|capitalize }}{% endif %},</p>
        <p style="color: {{ color }};">
            Merci pour votre abonnement, afin de recevoir notre contenu merci de bien vouloir procéder à son activation,
        </p>
        <p style="color: {{ color }};">
            <a href="{{ url('newsletter_activate', {'token': contact.token}) }}">Activer votre subscription</a>
        </p>
    </div>
    <div style="width: 50%; margin: auto; margin-top: 50px;">
        <p  style="color: {{ color }};">
            Si toute fois vous ne désirez plus recevoir les nouveautés du Bowling Club Poitevin,
            vous pouvez vous désabonner en cliquant sur le lien ci-dessous : <br>
            <a href="{{ url('newsletter_remove', {'token': contact.token}) }}">Se désabonner ? C'est par ici !</a>
        </p>
    </div>
{% endblock email_body %}
