{% extends '@App/utils/email_structure.html.twig' %}

{% set color = '#555' %}

{% block email_body %}
    <div style="width: 50%; margin: auto;">
        <p style="color: {{ color }};">Bonjour{% if contact.username != '' %} {{ contact.username|capitalize }}{% endif %},</p>
        <p style="color: {{ color }};">L'équipe du BCP Poitevin a le plaisir de vous annoncer qu'il y a des nouveautés sur son site.</p>
        <ul>
            {% for post in posts %}
                <li><a href="{{ url('post_view', {'slug': post.slug}) }}" style="color: {{ color }};">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% if contact.unSubscribable and contact.token != '' %}
        <div style="width: 50%; margin: auto; margin-top: 50px;">
            <p  style="color: {{ color }};">
                Si toute fois vous ne désirez plus recevoir les nouveautés du Bowling Club Poitevin,
                vous pouvez vous désabonner en cliquant sur le lien ci-dessous : <br>
                <a href="{{ url('newsletter_remove', {'token': contact.token}) }}">Se désabonner ? C'est par ici !</a>
            </p>
        </div>
    {% endif %}
{% endblock email_body %}