<div class="list-group">
    <span class="list-group-item title-like">Archives</span>
    <a href="{{ path('archives', {'years': '10_11'}) }}" class="list-group-item">2010 - 2011</a>
    <a href="{{ path('archives', {'years': '09_10'}) }}" class="list-group-item">2009 - 2010</a>
    <a href="{{ path('archives', {'years': '08_09'}) }}" class="list-group-item">2008 - 2009</a>
    <a href="{{ path('archives', {'years': '07_08'}) }}" class="list-group-item">2007 - 2008</a>
    <a href="{{ path('archives', {'years': '06_07'}) }}" class="list-group-item">2006 - 2007</a>
    <a href="{{ path('archives', {'years': '05_06'}) }}" class="list-group-item">2005 - 2006</a>
</div>