{% extends '@App/default/view.html.twig' %}

{% block site_title %}{{ parent() }} - Gallerie{% endblock site_title %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.css" rel="stylesheet" type="text/css">
{% endblock stylesheets %}

{% block content %}
    <div class="gallery-ctn">
        <div class="row">
            {% for image in images %}
                <a href="{{ image.webPath|imagine_filter('post_view') }}"
                   data-toggle="lightbox"
                   data-gallery="post_gallery"
                   data-title="{{ image.post.title }} - <a href='{{ path('post_view', {'slug': image.post.slug}) }}'>Accéder à l'article</a>"
                   class="col-lg-2 col-md-3 col-sm-3 col-xs-6 preview"
                >
                    <img src="{{ image.webPath|imagine_filter('gallery_preview') }}" class="img-thumbnail">
                </a>
            {% endfor %}
        </div>

        {% if images.getTotalItemCount > limit %}
            <div class="row">
                <div class="col-md-12 pagination-ctn">
                    {{ knp_pagination_render(images) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {{ include('@App/utils/social.html.twig', {'title': siteTitle ~ ' - Gallerie photos'}) }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
{% endblock javascripts %}